<div class="border-[.0625rem] border-gray-200 pt-6 pb-3" aria-label="Featured products carousel">
    <owl-carousel-o [options]="customOptions" role="region" aria-roledescription="carousel" aria-live="polite">
        @for (product of productsService.allProducts; track product.id) {
        <ng-template carouselSlide>
            <img class="h-[130px] object-contain " [src]="product.image" [alt]="product.title" loading="lazy">
            <figcaption class="sr-only">{{product.title}}</figcaption>
        </ng-template>
        }
    </owl-carousel-o>
</div>