<section class="py-6 px-5 footer-bg">
    <div class="mycontainer">
        <div class="w-full md:w-[60%] mb-5">
            <h2 class="text-white">Get the <span class="active-text">Products Gallery</span> app</h2>
            <p class="text-sm text-slate-400 mb-3">we will send you a link, open it on your phone to download the app
            </p>
            <form class="relative" aria-label="App download form">
                <label for="email-input" class="sr-only">Email address</label>
                <input id="email-input" class="rounded-full w-full p-3" name="email" type="email"
                    placeholder="Enter your email..." aria-required="true" required>
                <button type="submit" class="absolute top-1 end-2 bottom-1 rounded-full btn-bg px-2"
                    aria-label="Share app download link">
                    Share app link
                </button>
            </form>
        </div>
        <div class="payments flex flex-col justify-between items-start border-t-[1px] border-y-slate-100/10 mt-5 pt-5">
            <div class="flex justify-between md:justify-start items-center py-1">
                <span class="text-slate-300 me-3" aria-label="Payment partners">Payment partners</span>
                <img src="./images/amazon-pay.WebP" alt="amazon-pay" class="me-3 h-3 object-contain">
                <img src="./images/American-Express-Color.WebP" alt="American-Express-Color"
                    class="me-3 h-5 object-contain">
                <img src="./images/mastercard.webp" alt="mastercard" class="me-3 h-5 object-contain">
                <img src="./images/paypal.WebP" alt="paypal" class="me-3 h-5 object-contain">
            </div>
            <div class="flex justify-evenly md:justify-end items-center py-1" aria-label="Download options">
                <span class="text-slate-300 me-3">Get deleveries with <span class="active-text">Products
                        Gallery</span></span>
                <a href="#" aria-label="Download on the App Store"></a>
                <img src="./images/get-apple-store.WebP" alt="get-apple-store" class="h-6 object-contain">
                <img src="./images/get-google-play.WebP" alt="get-google-play" class="h-6 md:ms-3 object-contain">
            </div>
        </div>
    </div>
</section>