@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --font-family-1: "Roboto", sans-serif;
  --active-color: #ff6200;
  --btn-color: #ffce12;
  --nav-color: #131921;
  --footer-color: #131a22;
}
